*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 30px;
}






/* HEADER------------------------------ */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 20px 0;
}

.header__logo{
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: #39FE39;
}

.header__logo-main{
    display: block;
}

.header__logo-rotate{
    display: block;
    transform: scaleY(-1);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__nav{
    display: flex;
    gap: 120px;
    font-size: 12px;
    color: #C9C4D9;
    margin-right: 84px;
}






/* HERO---------------------------------- */

.hero{
    
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;

    position: relative;
}

.hero__model{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    height: 95%;
    width: auto;
}

.hero .hero__title{
    color: #39FE39;
    font-size: 300px;
    font-style: italic;
    padding: 150px 280px;

    position: relative;
    z-index: 2;
}






/* NEW PERSPECTIV */

.new-perspective{
    position: relative;
    z-index: 1;
    outline: 1px solid red
}

/* декор - квадраты на фоне */

.new-perspective__square{
    position: absolute;
    display: block;
    z-index: 2;

    width: 70px;
    height: 70px;
    background-color: #39FE39;
    opacity: 0.2;
}

.new-perspective__square--1{
    width: 440px;
    height: 95px;

    top: 250px;
    left:0;
}

.new-perspective__square--2{
    width: 112px;
    height: 109px;

    top: 538px;
    left: 688px;
}

.new-perspective__square--3{
    width: 67px;
    height: 65px;

    top: 707px;
    left: 922px;
}

.new-perspective__square--4{
    width: 112px;
    height: 109px;

     top: 785px;
    left: 700px;
}

.new-perspective__square--5{
    width: 53px;
    height: 50px;

     top: 856px;
    left: 560px;
}


.new-perspective__container{
    display: flex;
    flex-direction: column;
    gap: 300px;

    padding: 300px 0;
}

.new-perspective__item{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   
   
}

/* убираем отступ справа последней картинке */

.new-perspective__item:last-child .new-perspective__img{
    justify-self: end;
}

.new-perspective__content{
    text-align: center;
    line-height: 2;
    color: #5B5B5B;
    
}

.new-perspective__content h2{
    font-weight: 400;
}

/* аннимация -- картинка и текст выдвигаются
первая секция */
.new-perspective__item:first-child .new-perspective__img{
    opacity: 0;
    transform: translateX(500px);
    transition: 2s ease;
}

.new-perspective__item:first-child .new-perspective__content{
    opacity: 0;
    transform: translateX(-500px);
    transition: 2s ease;
}

.new-perspective__item.is-visible .new-perspective__img,
.new-perspective__item.is-visible .new-perspective__content{
    opacity: 1;
    transform: translateX(0);
}

/* аннимация -- картинка и текст выдвигаются
вторая секция */

.new-perspective__item:last-child .new-perspective__img{
    opacity: 0;
    transform: translateX(-500px);
    transition: 2s ease;
}

.new-perspective__item:last-child .new-perspective__content{
    opacity: 0;
    transform: translateX(500px);
    transition: 2s ease;
}

.new-perspective__item.is-visible .new-perspective__img,
.new-perspective__item.is-visible .new-perspective__content{
    opacity: 1;
    transform: translateX(0);
}